[submodule "themes/hugo-mainroad-theme"]
	path = themes/hugo-mainroad-theme
	url = https://github.com/Vimux/mainroad.git
[submodule "themes/hugo-minimalist-theme"]
	path = themes/hugo-minimalist-theme
	url = https://github.com/digitalcraftsman/hugo-minimalist-theme.git
[submodule "themes/hugo-zen-theme"]
	path = themes/hugo-zen-theme
	url = https://github.com/frjo/hugo-theme-zen.git
