[submodule "themes/hugo-minimalist-theme"]
	path = themes/hugo-minimalist-theme
	url = https://github.com/digitalcraftsman/hugo-minimalist-theme.git
[submodule "themes/hugo-zen-theme"]
	path = themes/hugo-zen-theme
	url = https://github.com/frjo/hugo-theme-zen.git
[submodule "themes/hugo-terrassa-theme"]
	path = themes/hugo-terrassa-theme
	url = https://github.com/danielkvist/hugo-terrassa-theme.git
