.contact-form-wrapper {
    width: 75%;
    padding: 30px;
    background: grey;
    }
    .contact-form-wrapper input[type=text], input[type=email], textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
    }
    .contact-form-wrapper textarea {
    height: 20vh;
    }
    input[type=submit] {
    font-family: Fira Code,Monaco,Consolas,Ubuntu Mono,monospace;
    font-size: 1.25em;
    width: 20%;
    padding: 10px;
    }
    input[type=submit]:hover {
    background-color: orange;
    }